# Sistema Operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs y Temporales
*.log
*.tmp
*.bak

# Entornos y Editores
.vscode/
.idea/
*.suo
*.user

# Archivos de respaldo local
*.swp
